<?xml version="1.0"?>
<configuration>
  <startup>
  </startup>
  <appSettings>
    <add key="ConnectionString" value="server=alif\sql2005;database=HIS_InterfaceHN;uid=sa;pwd=alif"/>
    <add key="AppInfo" value="欢迎使用青海埃立福湖南创智医保接口系统"/>
    <add key="AppTitle" value="青海埃立福湖南创智医保接口系统"/>
    <add key="DBLog" value="on"/>
  </appSettings>
</configuration>
